body {
    margin: 0;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
}

.container {
    width: 550px;
    height: 550px;
    background: #1F2937;
    color: #FFFFFF;
}

h1 {
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
    width: 354px;
}

.highlight {
    color: #4ADF86;
}