body {
    margin: 0;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
}

main {
    width: 550px;
    height: 550px;
    background: #1F2937;
    color: #FFFFFF;
    padding: 115px 52px;
    box-sizing: border-box;
}

header {
    margin-bottom: 51px;
}

h1 {
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
    width: 354px;
    margin: 0;
    margin-bottom: 10px;
}

.highlight {
    color: #4ADF86;
}

.subtitle {
    color: #D5D4D8;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}

#generate-passwords-btn {
    display: inline-flex;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    background: #10B981;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 35px;
    cursor: pointer;
}

hr {
    width: 446px;
    height: 1px;
    background: #2F3E53;
    border: none;
    margin: 0px;
    margin-bottom: 35px;
}

.passwords-container {
    display: flex;
    column-gap: 24px;
}

.password {
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    margin: 0;
}