* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

main {
    width: 90%;
    max-width: 550px;
    background: #1F2937;
    color: #FFFFFF;
    padding: 3em 3.25em;
}

header {
    margin-bottom: 3.1875em;
}

.title {
    font-size: 1.875rem; /* 30 px */
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: .333em;
}

.highlight {
    color: #4ADF86;
    display: block;
}

.subtitle {
    color: #D5D4D8;
    font-size: 1rem; /* 16px */
    margin-top: .625em;
}

/* ----------- PASSWORD LENGTH ---------- */
.pswd-length-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3em;
    
}

.pswd-length-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: #1C1C1C;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2.5rem;
    border: 5px solid grey;
    cursor: ns-resize;
}

.arrowhead {
    font-size: 3rem; /* 48px */
    color: grey;
}

.arrowhead.up {
    margin-bottom: .2em;
}

.arrowhead.down {
    margin-top: .1em;
}

/* --------- NUMBERS & SPECIAL CHARS RELATED --------- */

.include-numbers-container,
.include-special-chars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

input[type="checkbox"] {
    margin-right: 1.75em;
    min-width: 1.5em;
    min-height: 1.5em;
}

/* ------------- GENERATE PASSWORDS BUTTON --------- */
.generate-passwords-btn {
    width: 100%;
    padding: .5625em 1em;
    border-radius: 6px;
    background: #10B981;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 1.5;
    margin: .625em 0 2.1875em;
    cursor: pointer;
}

hr {
    width: 100%;
    height: 1px;
    background: #2F3E53;
    border: none;
    margin: 0 0 2.1875em;
}

/* --------- PASSWORD OUTPUT AREAS ----------- */
.password-wrapper {
    background: #273549;
    border-radius: 6px;
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 1rem; /* 16px */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #55F991;
    display: flex;
    align-items: center;
}

.copy-icon-wrapper {
    /* border: 1px solid #D5D4D8; */
    padding: .25em .5em;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #d5d4d8c1;
    align-self: end;
}

.password-wrapper:not(:last-child) {
    margin-bottom: 1em;
}

.password {
    padding: .25em 1em;
    width: 100%;
}

.border-white {
    border: 2px solid whitesmoke;
}

/* ---------- MEDIA QUERIES ---------- */
@media (min-width: 551px) {
    
    .pswd-length-ui {
        margin-right: 6em;
    }

    input[type="checkbox"] {
        margin-right: 7.75em;
    }

    .generate-passwords-btn {
        display: inline;
        width: initial; 
    }

    .passwords-container {
        display: flex;
        gap: 2em;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .pswd-length p, label {
        font-size: 1.1rem;
    }

}