body {
    margin: 0;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

main {
    width: 90%;
    max-width: 550px;
    background: #1F2937;
    color: #FFFFFF;
    padding: 7.1875em 3.25em;
    box-sizing: border-box;
}

header {
    margin-bottom: 3.1875em;
}

h1 {
    font-size: 1.875rem; /* 30 px */
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: .333em;
}

.highlight {
    color: #4ADF86;
    display: block;
}

.subtitle {
    color: #D5D4D8;
    font-size: 1rem; /* 16px */
    margin-top: .625em;
}

/* ----------- PASSWORD LENGTH ---------- */
.pswd-length-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3em;
    
}

.pswd-length-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: #1C1C1C;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2.5rem;
    border: 5px solid grey;
}

.arrowhead {
    font-size: 3rem; /* 48px */
    color: grey;
}

.arrowhead.up {
    margin-bottom: .2em;
}

.arrowhead.down {
    margin-top: .1em;
}

/* --------- NUMBERS & SPECIAL CHARS RELATED --------- */

.include-numbers-container,
.include-special-chars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}

input[type="checkbox"] {
    margin-right: 2.1em;
    width: 1.5em;
    height: 1.5em;
}

#generate-passwords-btn {
    display: inline-flex;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    background: #10B981;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 35px;
    cursor: pointer;
}

hr {
    width: 100%;
    height: 1px;
    background: #2F3E53;
    border: none;
    margin: 0px;
    margin-bottom: 35px;
}

.passwords-container {
    display: flex;
    column-gap: 24px;
}

.password {
    background: #273549;
    border-radius: 6px;
    margin: 0;
    padding: 4px 16px 3px 15px;
    width: 180px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 32px;
    color: #55F991;
}

.border-white {
    border: 2px solid whitesmoke;
}